<a href="https://colab.research.google.com/github/surbhivarande/RLAb/blob/main/R_Experiment2_writeup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**Vectors R Programming**

The simplest and most common data structure in R is the vector. Vectors come in two different flavors: atomic vectors and lists. An atomic vector contains exactly one data type, whereas a list may contain multiple data types.

Atomic vectors include logical, character, integer, and complex. Logical vectors can contain the values TRUE, FALSE, and NA (for 'not available').These values are generated as the result of logical 'conditions'.

Complet following couple of code cell to genearate a logical vector in variable logic_vect

In [1]:
# Create a vector num_vect with values -100, 0.55, 45, 5466
num_vect<-c(-100,0.55,45,5466)
num_vect

[1] -100.00    0.55   45.00 5466.00

In [2]:
#Now, create a variable called logic_vect that gets the result of num_vect <= 0.55, which is read as 'num_vect is less than 0.55'.
logic_vect <- num_vect <= 0.55

If you print logic_vect. you will see that is is a logical vector with 4 values. Print logic_vect in cell below to verify it

In [3]:
#print logic_vect
logic_vect

[1]  TRUE  TRUE FALSE FALSE

In [4]:
#Type num_vect >= 6 and note the output
num_vect >= 6

[1] FALSE FALSE  TRUE  TRUE

Character vectors

Character vectors are also very common in R. Double quotes are used to distinguish character objects.

In [5]:
# Create a character vector that contains the following words: "My", "name", "is". 
#Remember to enclose each word in its own set of double quotes, 
#so that R knows they are character strings. Store the vector in a variable called char_vect.

char_vect <- c("My", "name", "is")

In [6]:
# print the char_vect
char_vect

[1] "My"   "name" "is"

In [7]:
#use paste(char_vect, collapse=" ")
paste(char_vect,collapse=" ")

[1] "My name is"

Explain What difference you see in above two code blocks

 In the first block, char_vect is a character vector with length 3. In the second block, elements of the char_vect are joined together in one continuous character string using paste() function. now in the second box char_vect is a character vector with length 1.

In [8]:
# add your name as an element to char_vect and paste complete sentence saying "My name is <your name>"
char_vect <- c(char_vect,"Surbhi")
paste(char_vect, collapse = " ")

[1] "My name is Surbhi"

In [9]:
#Execute this code block
paste("Hello","World!",collapse=" ")

[1] "Hello World!"

Explaination: collapse argument with function paste explains that we can join elements of the chaarctor vector seperated by single spaces.

In [10]:
#Execute this 
paste(1:3, c("X", "Y", "Z"), sep = ":")

[1] "1:X" "2:Y" "3:Z"


Explain output of above code block 

Ans: 2 vectors, both of size 3. First has elements (1,2,3) and second ("X","Y","Z"). When paste() is used it prints elements of both with iteration. sep=":" seperates both values with ":".

In [11]:
#Executes this LETTERS is 
paste(LETTERS, 1:10, sep = "-")

 [1] "A-1"  "B-2"  "C-3"  "D-4"  "E-5"  "F-6"  "G-7"  "H-8"  "I-9"  "J-10"
[11] "K-1"  "L-2"  "M-3"  "N-4"  "O-5"  "P-6"  "Q-7"  "R-8"  "S-9"  "T-10"
[21] "U-1"  "V-2"  "W-3"  "X-4"  "Y-5"  "Z-6"

Explain output of above code block

Explaination: here, charactor vector LETTERS is longer than numeric vector 1:10. so R simply repeats the 1:10 until it matches length of the charactor vector.

**Write R code to Solve Following**
1.   To begin with create a vecor **a** of 20 random values from Std Normal Variable.
2.   Creat another vector **b** of 20 NA values. Also create vector x
3.   Sample 20 values from above two vectors. 
4.   Subset  10th to 15th element from x to generate sample y
5.   Count NAs in vector x and y

1. To begin with create a vecor a of 20 random values from Std Normal Variable.

In [12]:
a <- rnorm(20)
a

 [1]  0.26494850  0.25214148 -0.05902804 -1.52910793 -2.18183953  0.31735275
 [7] -0.20422778 -0.59983000 -0.37180491  1.66529040 -0.91875279  0.39664682
[13]  0.70332675 -0.56219504 -0.25363424  0.94500980  0.15283514 -0.87991396
[19]  0.20585655  0.57751839

2. Creat another vector b of 20 NA values. Also create vector x

In [13]:
b <- rep(NA, 20)
 b

 [1] NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA

3. Sample 20 values from above two vectors.

In [14]:
x <- c(a,b)

x <- sample(x, 20 , replace= FALSE)
x

 [1]          NA          NA          NA -0.91875279  0.70332675  0.26494850
 [7]  0.15283514  0.31735275          NA          NA -2.18183953 -0.05902804
[13]  0.94500980          NA -0.87991396          NA          NA -1.52910793
[19] -0.56219504  0.39664682

4. Subset 10th to 15th element from x to generate sample y

In [15]:
y <- x[10:15]
y

[1]          NA -2.18183953 -0.05902804  0.94500980          NA -0.87991396

5. Count NAs in vector x and y

In [16]:
sum(is.na(x))
sum(is.na(y))

[1] 8

[1] 2